@import "https://fonts.googleapis.com/css?family=Ubuntu:300,400,500";
@import "https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.css";

body {
    color: #2c2e31;
    margin: 10px;
    background-color: #2c2e3a;
    font-family: Ubuntu, sans-serif;
    transition: all 0.25s ease-in-out;
    position: relative;
    left: 0;
    min-width: 300px;
    text-rendering: optimizeLegibility;
}

img {
    border: 0;
}

footer {
    margin-top: 10px;
}

.footer {
    margin-top: 10px;
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    width: 100%;
    background: #fff;
    border-radius: 0px 0px 5px 5px;
    overflow: hidden;
    text-align: center;
    z-index: 5;
}

.footer>p {
    margin: 0;
}

.imagenes {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
    padding: 25px 0px;
}

.img {
    text-align: center;
    width: 32px;
}

.horizontal_center {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.card {
    max-width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 20px 0;
    width: 100%;
    background: #fff;
    border-radius: 5px 5px 0px 0px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    text-align: center;
    z-index: 5;
}

.card:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 130px;
    top: 0;
    background: #f9f9f9;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    z-index: -1;
}

.card .user_photo {
    position: relative;
    background: #fff;
    padding: 5px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.card .user_photo img {
    width: 150px;
    border-radius: 50%;
}

.card #user_title {
    color: #999;
    font-size: 18px;
    margin: 0;
}

.card #user_value {
    color: #2c2e31;
    font-size: 33px;
    margin: 5px;
    text-transform: capitalize;
    line-height: 1;
}

.values_list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: left;
    margin-top: -5px;
}

.values_list li {
    cursor: pointer;
    display: block;
    width: 40px;
    height: 48px;
    float: left;
    margin: 20px;
    background-image: url(../img/card_icons.png);
    background-size: 378px;
    background-position-y: -48px;
    transition: all 0.25s ease-out;
}

.values_list li:before {
    content: attr(data-label);
    opacity: 0;
}

.values_list li.active[data-label="name"] {
    background-position: 0 -96px;
}

.values_list li.active[data-label="email"] {
    background-position: -68px -96px;
}

.values_list li.active[data-label="location"] {
    background-position: -203px -96px;
}

.values_list li.active[data-label="phone"] {
    background-position: -270px -96px;
}

.values_list li.active[data-label="pass"] {
    background-position: -338px -96px;
}

.values_list li[data-label="name"] {
    background-position: 0 -48px;
}

.values_list li[data-label="email"] {
    background-position: -68px -48px;
}

.values_list li[data-label="location"] {
    background-position: -203px -48px;
}

.values_list li[data-label="phone"] {
    background-position: -270px -48px;
}

.values_list li[data-label="pass"] {
    background-position: -338px -48px;
}

p {
    margin: 0 0 20px;
    line-height: 1.5;
}

main {
    min-width: 200px;
    max-width: 860px;
    padding: 20px;
    margin: 0 auto;
    background: #fff;
    margin-top: 10px;
}

section {
    display: none;
    padding: 30px;
    border-top: 1px solid #ddd;
}

input {
    display: none;
}

label {
    display: inline-block;
    margin: 0 0 -1px;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: #bbb;
    border: 1px solid transparent;
}

label:before {
    font-family: fontawesome;
    font-weight: normal;
    margin-right: 10px;
}

label[for*='1']:before {
    content: '\f1cb';
}

label[for*='2']:before {
    content: '\f17d';
}

label[for*='3']:before {
    content: '\f16b';
}

label[for*='4']:before {
    content: '\f1a9';
}

label:hover {
    color: #888;
    cursor: pointer;
}

input:checked+label {
    color: #555;
    border: 1px solid #ddd;
    border-top: 2px solid #83BA43;
    border-bottom: 1px solid #fff;
}

#tab1:checked~#content1,
#tab2:checked~#content2,
#tab3:checked~#content3,
#tab4:checked~#content4 {
    display: block;
    padding: 25px;
}

@media screen and (max-width: 730px) {
    label {
        font-size: 0;
    }

    label:before {
        margin: 0;
        font-size: 18px;
    }
}

@media screen and (max-width: 400px) {
    label {
        padding: 15px;
    }
}

#content3 {
    padding-bottom: 25PX;
}

h1.skill-title {
    padding: 15px 0;
}

ul.skill-set {
    list-style-type: none;
    margin: 10px 0px;
    max-width: 850px;
    padding: 0;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.skill-set li {
    background: rgba(0, 0, 0, .75);
    border-radius: 5px;
    color: #FFF;
    list-style: none;
    padding: 10px;
    text-align: justify;
}

#content1 {
    text-align: justify;
}

@media screen and (max-width: 400px) {

    #tab1:checked~#content1,
    #tab2:checked~#content2,
    #tab3:checked~#content3,
    #tab4:checked~#content4 {
        display: block;
        padding: 5px;
    }

    #content1 {
        padding: 0;
        margin: 0;
    }
}


/* PROYECTOS */

.blog-card {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
    margin-bottom: 3%;
    line-height: 1.4;
    border-radius: 5px;
    overflow: hidden;
    z-index: 0;
    color: #2c2e31;
}

.blog-card a {
    color: inherit;
}

.blog-card a:hover {
    color: #83BA43;
}

.blog-card:hover .photo {
    transform: scale(1.3) rotate(3deg);
}

.blog-card .meta {
    position: relative;
    z-index: 0;
    height: 200px;
}

.blog-card .photo {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: top;
    transition: transform 0.2s;
}


.blog-card .description {
    padding: 1rem;
    background: #fff;
    position: relative;
    z-index: 1;
}



.blog-card .description h1 {
    line-height: 1;
    margin: 0;
    font-size: 1.7rem;
}

.blog-card .description h2 {
    font-size: 1rem;
    font-weight: 300;
    text-transform: uppercase;
    color: #5c5c5c;
    margin-top: 5px;
}

.blog-card .description .read-more {
    text-align: right;
}

.blog-card .description .read-more a {
    color: #83BA43;
    display: inline-block;
    position: relative;
}

.blog-card .description .read-more a:after {
    content: "\f061";
    font-family: FontAwesome;
    margin-left: -10px;
    opacity: 0;
    vertical-align: middle;
    transition: margin 0.3s, opacity 0.3s;
}

.blog-card .description .read-more a:hover:after {
    margin-left: 5px;
    opacity: 1;
}

.blog-card p {
    position: relative;
    margin: 1rem 0 0;
}

.blog-card p:first-of-type {
    margin-top: 1.25rem;
}

.blog-card p:first-of-type:before {
    content: "";
    position: absolute;
    height: 5px;
    background: #83BA43;
    width: 35px;
    top: -0.75rem;
    border-radius: 3px;
}

.read-more>a {
    text-decoration: none;
}

@media (min-width: 640px) {
    .blog-card {
        flex-direction: row;
        max-width: 700px;
    }

    .blog-card .meta {
        flex-basis: 45%;
        height: auto;
    }

    .blog-card .description {
        flex-basis: 60%;
    }

    .blog-card .description:before {
        transform: skewX(-3deg);
        content: "";
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
    }

    .blog-card.alt {
        flex-direction: row-reverse;
    }

    .blog-card.alt .description:before {
        left: inherit;
        right: -10px;
        transform: skew(3deg);
    }

}